@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Fira+Code&family=Marvel:wght@400;700&family=Montserrat&family=Noto+Serif&family=Open+Sans&family=Plus+Jakarta+Sans&family=Poppins&family=Sacramento&family=Sora&family=Ubuntu&display=swap');

:root {
    --primary: #12283a;
    --secondary: rgb(3 185 193);
    /* scrollbar-color: rgba(0,0,0,0); */
}
section::-webkit-scrollbar{
    display: none;
}
* {
    font-family: 'open sans' , sans-serif;
    scroll-behavior:smooth;
}
body{
    height: 100vh!important;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
.sora {
    font-family: 'sora' , sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
::-moz-scroll
input[type="range"] {
    appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: rgb(216, 216, 216);
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(0, 0, 0);
    width: 0px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 0 4px rgb(49, 47, 47)
}
input[type="radio"]:checked + .radio-div{
    padding: 2px;
    border: 2px solid rgb(59 130 246);
}
/* .catgory-image:hover  h2{
    opacity: 1;
    color: black;
} */

.image-div{
    position: relative;
}
.image-div::before{
    width: 0%;
    height: 100%;
    content: '';
    background-color: #072740a5;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
    /* opacity: 0; */
}
.image-div:hover::before{
    width: 100%;
    /* opacity: 1; */
}
.image-div h2{
    transition: all 0.6s ease;
    opacity: 0;
}
.image-div:hover h2{
    overflow: hidden;
    opacity: 1;
}
.settings{
    max-height: 0px;
    padding: 0px 16px;
    /* display: none; */
    overflow: hidden;
    transition: all 0.4s ease;
}
.user-icon:hover + .settings{
    max-height: 500px;
    display: flex;
    padding: 16px;
}
.settings:hover{
    max-height: 500px;
    display: flex;
    padding: 16px;
}
textarea{
    resize: none;
}
